---
layout: default
---
{% include header.html %}

<div class="list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}

  </div>
{% endfor %}
  <!-- Pagination links -->
  <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          Previous
        </a>
      {% else %}

      {% endif %}
    </span>

    <span class="list-pagination-next">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
          Next
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      {% else %}

      {% endif %}
    </span>

  </div>
{% endif %}
</div>
